<app-header-demo></app-header-demo>

<p
  class="information mt-3 ms-4 text-primary mainStyle"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal2"
  style="width: 12%; cursor: pointer"
>
  <i class="fa-solid fa-plus" style="color: blue"></i> Add Address
</p>

<div class="container">
  <div class="card" *ngFor="let addressData of addressInfo; index as i">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-title">Address {{ i + 1 }}</h5>
        <p class="card-text">
          {{ addressData["addressLine2"] }},{{ addressData["street"] }}
          {{ addressData["city"] }} {{ addressData["pin"] }},{{
            addressData["state"]
          }}
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>

      <div class="crud">
        <i
          class="fa-solid fa-pen-to-square mm"
          style="cursor: pointer"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
          (click)="editAddressData(addressData['_id'])"
        ></i>

        <i
          class="fa-solid fa-trash ms-3"
          style="cursor: pointer"
          (click)="deleteAddress(addressData['_id'])"
        ></i>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  data-bs-backdrop="static"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form
        [formGroup]="addressUser"
        (ngSubmit)="sendAddressData(addressUser.value)"
      >
        <div class="modal-body">
          <textarea
            name="addressLine2"
            id="addressLine2"
            formControlName="addressLine2"
            placeholder="Address"
            cols="43"
            rows="3"
          ></textarea>

          <input
            type="text"
            placeholder="Street"
            name="street"
            formControlName="street"
            class="mt-3 p-1 brStyle border border-secondary"
          />

          <input
            type="text"
            placeholder="City"
            name="city"
            formControlName="city"
            class="my-3 p-1 brStyle border border-secondary"
          />

          <input
            type="text"
            placeholder="State"
            name="state"
            formControlName="state"
            class="mt-2 p-1 brStyle border border-secondary"
          />

          <input
            type="text"
            placeholder="Pin"
            name="pin"
            formControlName="pin"
            class="mt-3 p-1 brStyle border border-secondary"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  data-bs-backdrop="static"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form
        [formGroup]="addressUser"
        (ngSubmit)="sendUpdateAddressData(addressUser.value)"
      >
        <div class="modal-body">
          <textarea
            name="addressLine2"
            id="addressLine2"
            formControlName="addressLine2"
            placeholder="Address"
            cols="43"
            rows="3"
            class="brStyle"
          ></textarea>

          <input
            type="text"
            placeholder="Street"
            name="street"
            formControlName="street"
            class="mt-3 p-1 ss border border-secondary brStyle"
          />

          <input
            type="text"
            placeholder="City"
            name="city"
            class="mt-3 p-1 brStyle border border-secondary"
            formControlName="city"
          />

          <input
            type="text"
            placeholder="State"
            name="state"
            class="mt-3 p-1 brStyle border border-secondary"
            formControlName="state"
          />

          <input
            type="text"
            placeholder="Pin"
            class="mt-3 p-1 brStyle border border-secondary"
            name="pin"
            formControlName="pin"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
