

<div class="main" style="background-color: #56baed; height: 100vh">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active text-center">Sign In</h2>
      <h2 class="inactive underlineHover spaceForButton text-center" routerLink="/auth/register" >
        Sign Up
      </h2>

      <!-- Icon -->

      <!-- Login Form -->
      <form
        [formGroup]="loginPage"
        (ngSubmit)="submitLoginForm(loginPage.value)"
      >
        <input
          type="text"
          id="login"
          class="fadeIn second loginFieldStyle"
          formControlName="email"
          placeholder="Email"
          autocomplete="on"
        /><br />
        <div
          class="emailValidation"
          *ngIf="emailSubmitStatus1 && loginPage.controls['email'].invalid"
        >
          Invalid Email
        </div>
        <br />

        <input
          type="text"
          id="password"
          class="fadeIn third loginFieldStyle"
          formControlName="password"
          placeholder="Password"
          autocomplete="off"

        /><br />
        <div
          class="emailValidation"
          *ngIf="
            emailSubmitStatus1 && loginPage.controls['password'].invalid
          "
        >
          Invalid Password
        </div>
        <br />

        <div class="captcha-checkbox pb-4" style="font-size: 0.8rem">
          <input type="checkbox" class="me-2" formControlName="captcha" (click)="onLoginCaptchaChecked($event)"><span class="fs-5">I am not a robot</span>
          </div>
          <div *ngIf="emailSubmitStatus1 && loginPage.controls['captcha'].invalid" class="text-danger">select who are you</div> 

        <input
          class="spaceForButton fadeIn fourth"
          type="submit"
          value="Log In"
          id="loginButton11"
          data-bs-toggle="modal"

        />
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover text-decoration-none" href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
