<app-header-demo></app-header-demo>
<div style="width: 100vw; height:100vh;background-color: rgb(203, 227, 255);">
<div class="container pt-5 mb-5 d-flex justify-content-center">
    <div class="card rounded">
        <div class="d-block justify-content-center">
            <div class="area1 p-3 py-5"> </div>
            <div class="area2 p- text-center px-3">
                <div class="image mr-3"> <img src="https://i.imgur.com/ZSkeqnd.jpg" class="rounded-circle" width="100" />
                    <h4 class=" name mt-3 ">{{userData['customer']['name']}}</h4>
                    <h6>{{userData['customer']['email']}}</h6>
                    <p class="information mt-3 text-justify">I'm doing this as a way to practice my design skills,explore different styles and have fun.I'm fully aware this challenge doesn't pose my real problem to solve,That's why i'm looking for criticism and feedback ,not just likes </p>
                    
                    <div class="d-flex justify-content-between">
                    <button class="btn btn-warning">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUser()">Logout</button>
                </div>
                </div>

              
                <!-- <div> </div> -->
            </div>
        </div>
    </div>
</div>
</div>