<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <p
        class="information mt-3 ms-4 text-primary mainStyle"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
        style="width: 12%; cursor: pointer"
      >
        <i class="fa-solid fa-plus" style="color: blue"></i> Address
      </p>

      <ul class="list list-inline" *ngFor="let data of address1;index as i">
        <li class="d-flex justify-content-between">
          <div>
            <input
              type="radio"
              (click)="getData(data)"
              name="addressRadio"
              class="me-2"
            />{{ data["addressLine2"] }}{{ data["street"] }},{{ data["state"]
            }},{{ data["city"] }},{{ data["pin"] }}
          </div>

          <div>
            <i class="fa-solid fa-trash me-4" (click)="deleteAddress(data['_id'])"></i>
            <i
              class="fa-solid fa-pen-to-square"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal3"
              (click)="editAddressData(data['_id'], i)"

            ></i>
          </div>
        </li>
      </ul>
      <img src="/assets/offer.webp" alt="" width="100%" />
    </div>

    <div class="col-md-4 mb-4 mt-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Product details</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
            >
            Products
            <span *ngIf="apiStatus;else go">{{ total1 }} &#8377;</span>

            <ng-template #go>

              <span>{{ total }} &#8377;</span>

            </ng-template>

            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center px-0"
            >
              Shipping
              <span>Nj comapny</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
            >
              <div>
                <strong>Total amount</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
  
              <span  *ngIf="apiStatus;else another"
              ><strong>{{ total1 }} &#8377;</strong></span
            >

              <ng-template #another>

                <span 
                ><strong>{{ total }} &#8377;</strong></span
              >
              </ng-template>

            </li>
          </ul>

          <button
            (click)="placeOrder()"
            type="button"
            class="btn btn-primary btn-lg btn-block"
          >
            Place order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  data-bs-backdrop="static"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: lightgreen">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form
        [formGroup]="addressUser"
        (ngSubmit)="sendAddressData(addressUser.value); addressUser.reset()"
      >
        <div class="modal-body">
          <textarea
            name="addressLine2"
            id="addressLine2"
            formControlName="addressLine2"
            placeholder="Address"
            cols="43"
            rows="3"
          ></textarea>

          <input
            type="text"
            placeholder="Street"
            name="street"
            formControlName="street"
            class="mt-3 p-1"
          />

          <input
            type="text"
            placeholder="City"
            name="city"
            formControlName="city"
            class="my-3 p-1 brStyle border border-secondary"
          />

          <input
            type="text"
            placeholder="State"
            name="state"
            formControlName="state"
            class="mt-2 p-1 brStyle border border-secondary"
          />

          <input
            type="text"
            placeholder="Pin"
            name="pin"
            formControlName="pin"
            class="mt-3 p-1 brStyle border border-secondary"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  data-bs-backdrop="static"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: lightgreen;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form
        [formGroup]="addressUser"
        (ngSubmit)="sendUpdateAddressData(addressUser.value)"
      >
        <div class="modal-body">
          <textarea
            name="addressLine2"
            id="addressLine2"
            formControlName="addressLine2"
            placeholder="Address"
            cols="43"
            rows="3"
            class="brStyle"
          ></textarea>

          <input
            type="text"
            placeholder="Street"
            name="street"
            formControlName="street"
            class="mt-3 p-1 ss border border-secondary brStyle"
          />

          <input
            type="text"
            placeholder="City"
            name="city"
            class="mt-3 p-1 brStyle border border-secondary"
            formControlName="city"
          />

          <input
            type="text"
            placeholder="State"
            name="state"
            class="mt-3 p-1 brStyle border border-secondary"
            formControlName="state"
          />

          <input
            type="text"
            placeholder="Pin"
            class="mt-3 p-1 brStyle border border-secondary"
            name="pin"
            formControlName="pin"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
