<body class="bg-info">

    
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Reset password</h5>
              <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">

                <div class="form-floating mb-3">
                  <input type="password" formControlName="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">New Password</label>
                </div>

                <!-- <div class="form-floating mb-3">
                  <input type="token" formControlName="token" name="token" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Token</label>
                </div> -->

                <div class="form-floating mb-3">
                    <input type="password" formControlName="Confirmpassword" name="Confirmpassword" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Confirm password</label>
                  </div>

                <div class="d-grid">
                  <button class="btn btn-info text-light btn-login fw-bold fs-5 p-2 " type="submit"> Reset</button>
                </div>
                <hr class="my-4">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>