
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #myForm="ngForm" (ngSubmit)="go(myForm.value)">
      <div class="modal-dialog-centered">
      <input class="m-auto m-3 p-2 border no-border" [(ngModel)]="editName" name="editName" style="outline:none" placeholder="edit here" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg customNavBar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          style="justify-content: space-between"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
          role="button"
          aria-controls="offcanvasExample"
        >
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="assets/profile.png"
              class="profileIcon"
              alt=""
              width="30px"
            />
          </a>
        </li>
      </ul>
      <form class="d-flex serachData" role="search" style="margin-right: 600px">
        <input
          class="form-control me-2 searchElement searchTextData"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="sButton mobileSearchButton" type="submit">Search</button>
      </form>

      <span class="companyName">NjCompany</span>
    </div>
  </div>
</nav>

<div
  class="offcanvas offcanvas-start customSideNav"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header p-3">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="image">
    <img src="assets/steve.jpeg" class="imgData" alt="" />
  </div>
  <div class="name">
    <h6>{{ currentUserEmail }}</h6>
  </div>

  <div class="menus">
    <div>
      <div class="menuLinks">Home</div>
      <div class="menuLinks">Profile</div>
      <div class="menuLinks">Setting</div>
      <div class="menuLinks">About</div>
    </div>
  </div>

  <div class="logOut" (click)="deleteLocal()" class="logImg">
    <i class="fa-solid fa-right-from-bracket"></i>
  </div>
</div>
<!-- 
<div class="w-100 d-flex justify-content-center align-items-center h-75 mt-5">
  <div
    class="w-50 h-75 d-flex justify-content-center bg-info text-white align-items-center rounded"
  >
    <div class="">
      <img
        src="assets/steve.jpeg"
        class="rounded-circle mb-5"
        width="150"
        class="rounded-circle img-thumbnail img-fluid"
      />
    </div>
    <div class="p-3 mt-5 ms-5">
      <div class="fontStyle mb-4"><b>Name: </b>{{data1?.['name']}}</div>
      <div class="fontStyle mb-4">
        <b>Gmail: </b>{{data1?.['_org']['email']}}
      </div>
      <div class="fontStyle mb-4">
        <b>Company Name: </b>{{data1?.['_org']['name']}}
      </div>
      <div class="d-flex justify-content-end">
        <button
          type="button"
          routerLink=""
          (click)="deleteLocal()"
          class="btn btn-light"
        >
          Logout
        </button>
        <button
        type="button"
        class="btn btn-light ms-3"
        data-bs-toggle="modal" 
        data-bs-target="#exampleModal"
      >
        Edit
      </button>
      </div>
    </div>
  </div>
</div> -->
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="bg-info card p-3 py-4 border border-primary">
        <h3 class="text-center">My Profile</h3>
        <div class="text-center">
          <img
            src="assets/nishant.jpeg"
            alt="User"
            width="150"
            class="rounded-circle img-thumbnail img-fluid"
          />
        </div>
        <div class="text-center mt-3">

          <h1 class="mt-2 mb-0">{{ data1?.['name'] }}</h1>
          <h3 class="mt-0 mb-0 text-danger">
            {{ data1?.['_org']['name'] }}
          </h3>
          <!-- <h5 class="mb-1 mt-1 text-secondary">Role :</h5> -->
          <span class="mt-0">{{ data1?.['_org']['email']}}</span>
          <div class="px-4 mt-1">
            <p class="fonts"></p>
          </div>
          <div class="buttons">
            <button class="btn btn-light px-4 ms-3" (click)="deleteLocal()">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









