<app-header-demo></app-header-demo>
<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 g-4">
    <div
      class="col"
      *ngFor="
        let data of productData | paginate : { itemsPerPage: 6, currentPage: p }
      "
    >
      <div class="card h-100">
        <img
          src="{{ data['images'][0]['url'] }}"
          height="250px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ data["name"] }}</h5>
          <p class="card-text text-danger">{{ data["price"] }}&#8377;</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
